<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="pimApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="pimApp.order.createDate">Create Date</span></dt>
        <dd>
          <span>{{ order.createDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pimApp.order.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pimApp.OrderStatus.' + order.status }}">{{ order.status }}</span>
        </dd>
        <dt><span jhiTranslate="pimApp.order.user">User</span></dt>
        <dd>
          <span>{{ order.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="pimApp.order.basket">Basket</span></dt>
        <dd>
          <div *ngIf="order.basket">
            <a [routerLink]="['/basket', order.basket?.id, 'view']">{{ order.basket?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
